## Create a new <%= t(".resource_name", scope: resource) %>

```shell
<% if t(".nested", scope: resource) %>
curl -X POST -H "Content-type: application/json" -H "Authorization: Bearer <ACCESS_TOKEN>"
https://api.companycam.com/v2/<%= t(".parent_plural", scope: resource) %>/:<%= t(".parent", scope: resource) %>_id/<%= t(".resource_plural", scope: resource) %>/ -d '{"<%= t(".resource_name", scope: resource) %>":<%= t('.gecko.create', scope: resource).to_json %>'}
<% else %>
curl -X POST -H "Content-type: application/json" -H "Authorization: Bearer <ACCESS_TOKEN>"
https://api.companycam.com/v2/<%= t(".resource_plural", scope: resource) %>/ -d '{"<%= t(".resource_name", scope: resource) %>":<%= t('.gecko.create', scope: resource).to_json %>'}
<% end %>
```

```json
<%= json_single %>
```

Creates a new <%= t(".resource_name", scope: resource) %> object.
<% unless t('.child', scope: resource).to_s.include?("missing") %>
This endpoint also accepts embedded <%= t(".child", scope: resource) %>s.
<% end %>

### Arguments

| Attribute                      | Type          | Description                | Required
| ------------------------------ | ------------- | -------------------------- | ------------
<% t(".attributes", scope: resource).select{ |k,v| v[:creatable] }.each_pair do |key, value| %>
  **<%= value[:name] %>**<%= " <span class='deprecated'>deprecated</span>" if value[:deprecated] %> | <%= value[:type] %> | <%= value[:description] %> | <%= value[:required] %>
<% end %>

<% unless t('.child', scope: resource).to_s.include?("missing") %>
<% child_resource = t('.child', scope: resource) %>

### <%= t('.resource_klass', scope: child_resource) %>

| Child Attribute                | Type          | Description                | Required
| ------------------------------ | ------------- | -------------------------- | ------------
<% t(".attributes", scope: child_resource).select{ |k,v| v[:creatable] && !v[:private] }.each_pair do |key, value| %>
  **<%= value[:name] %>**<%= " <span class='private'>private</span>" if value[:private] %><%= " <span class='deprecated'>deprecated</span>" if value[:deprecated] %> | <%= value[:type] %> | <%= value[:description] %> | <%= value[:required] %>
<% end %>

<% end %>

<% unless t('.create_extra_table.enable', scope: resource).to_s.include?("missing") %>

### <%= t('.create_extra_table.title', scope: resource) %>


| <%= t('.create_extra_table.column_headers', scope: resource).join(" | ") %>
| --- | ----- | --- |
<% t('.create_extra_table.columns', scope: resource).each do |columns| %>
  <%= columns.join(" | ") %>
<% end %>
<% end %>

<% if t('.notes', scope: resource).kind_of?(Hash) && t('.notes', scope: resource).has_key?(:create) %>
### Notes
*<%= t('.notes', scope: resource)[:create] %>*
<% end %>

### HTTP Request
<% if t(".nested", scope: resource) %>
`POST https://api.companycam.com/v2/<%= t(".parent_plural", scope: resource) %>/:<%= t(".parent", scope: resource) %>_id/<%= t(".resource_plural", scope: resource) %>/`
<% else %>
`POST https://api.companycam.com/v2/<%= t(".resource_plural", scope: resource) %>/`
<% end %>
